.backgroundGradient {
    background-image: linear-gradient(to bottom, #c4c4c4, #cfcfcf, #dadada, #e5e5e5, #f0f0f0, #f0f0f0, #efefef, #efefef, #e3e3e3, #d7d7d7, #cccccc, #c0c0c0);
    padding: 1.5rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.sliderItem {
    img {
        width: 600px;
        height: 600px;
        max-height: 100%;
        object-fit: contain;
    }
}

@media (max-width: var(--container-md)) {
    .sliderItem {
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}